.split {
  display: flex;
}

.c-no-notes {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .c-title {
    margin-bottom: 20px;
  }

  .c-create-btn {
    border-radius: 5px;
    border: 0px solid transparent;
    background-color: rgb(31, 37, 50);
    padding: 20px 15px;
    color: #fff;
    transition: 0.25s background-color;

    &:hover {
      background-color: lighten($color: rgb(31, 37, 50), $amount: 10);
    }
  }
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;

  &.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  }
}
